<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <title>Addcontac</title>
</head>

<body>
  <!--     Ventana de inicio -->
  <header id="headerUser">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="../assets/images/logo.jpg" alt=""></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#" style="color:black">Juan Luna</a></li>
        </ul>
        <form class="navbar-form navbar-left hidden-xs" action="/action_page.php">
          <div class="input-group">
            <button type="button" class="btn btn-primary">Buscar amigos</button>
          </div>
      </div>
      </form>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="row name">
              Juan Garcia
            </div>
            <div class="row images">
              <img src="../assets/images/foto2.jpg" class="img-responsive img-rounded">
            </div>
            <div class="row buttons">
              <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-camera"></span> Brillas
            </button>
              <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-edit"></span> Autógrafo
            </button>
              <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-bullhorn"></span> Fama
            </button>
            </div>
            <div class="row comentarios">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                <span class="input-group-addon glyphicon glyphicon-music" id="sizing-addon2"></span>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="row name">
              Juan Garcia
            </div>
            <div class="row images">
              <img src="../assets/images/foto2.jpg" class="img-responsive img-rounded">
            </div>
            <div class="row buttons">
              <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-camera"></span> Brillas
            </button>
              <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-edit"></span> Autógrafo
            </button>
              <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-bullhorn"></span> Fama
            </button>
            </div>
            <div class="row comentarios">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                <span class="input-group-addon glyphicon glyphicon-music" id="sizing-addon2"></span>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="row name">
              Juan Garcia
            </div>
            <div class="row images">
              <img src="../assets/images/foto2.jpg" class="img-responsive img-rounded">
            </div>
            <div class="row buttons">
              <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-camera"></span> Brillas
            </button>
              <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-edit"></span> Autógrafo
            </button>
              <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-bullhorn"></span> Fama
            </button>
            </div>
            <div class="row comentarios">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                <span class="input-group-addon glyphicon glyphicon-music" id="sizing-addon2"></span>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </main>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="../js/data.js"></script>
  <script src="../js/app3.js"></script>
</body>

</html>
